@font-face {
  font-family: 'Noto Sans TC';
  src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2')
}

#tooltip {
    position: absolute;
    padding: 5px;
    background-color: #F7F7F7;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-size: 12px;
    z-index: 2;
    color: #000;
}

.reportTable {
  font-family: Open Sans, Helvetica, Arial, Noto Sans TC, Noto Sans SC, sans-serif;
  color: #7a7a7a;
  border-collapse: collapse;
}

/* ================= HEADERS ================= */

th.headerCell {
  background-color: #205C40;
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
  color: #FFFFFF;
}

.headerCell.dimension {
  background-color: #64A70B;
  color: #FFFFFF;
}

.headerCell.measure {
  background-color: #205C40;
  color: #FFFFFF;
}

/* ===== TRANSPOSED HEADERS ===== */

/* DIMENSIONES OSCURO */
.headerCell.transposed.dimension {
  background-color: #205C40;
  color: #FFFFFF;
}

/* MÉTRICAS GRIS CLARO */
.headerCell.transposed.measure,
.headerCell.transposed.calculation,
.headerCell.transposed.pivot {
  background-color: #d3d3d3;
  color: #000000;
}

/* ================= DATA CELLS ================= */

.rowCell {
  vertical-align: middle;
  padding: 8px 5px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #FFFFFF;
}

/* ================= TRANSPOSED INDEX ================= */

.indexCell.transposed {
  font-weight: bold;
}

/* DIMENSIONES OSCURO */
.indexCell.transposed.dimension {
  background-color: #205C40 !important;
  color: #FFFFFF;
}

/* MÉTRICAS GRIS CLARO */
.indexCell.transposed.pivot,
.indexCell.transposed.measure,
.indexCell.transposed.calculation {
  background-color: #F7F7F7 !important;
  color: #000000;
  border-right: 1px solid #d3d3d3;
}

/* MERGED */
.indexCell.transposed.merged {
  background-color: #F7F7F7 !important;
  color: #7a7a7a !important;
}

/* ================= ALIGNMENT ================= */

.nonNumeric { text-align: left !important; }
.numeric { text-align: right !important; }

/* ================= COLORS ================= */

.negative { color: #A6093D; }
.estimate { color: #7a7a7a !important; }

/* ================= TOTALS ================= */

.subtotal {
  font-style: italic;
  font-weight: bold;
  background: #d3d3d3;
  color: #000000;
}

.total {
  border-top: 2px solid #000000 !important;
  font-weight: bold !important;
  background-color: #F7F7F7;
  color: #000000;
}

.total.transposed {
  border-top: 0px !important;
  background-color: #d3d3d3;
  color: #000000;
}
